<!doctype html>
<meta charset=utf-8>
<title>FiletCloud:{{.P}}</title>
<link rel=stylesheet href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<style>
	#md {display: none}
	#upload {font-size: 2em; display: none; z-index: 2147483647;
		border: none; background: none; position: fixed; right: 0}
</style>
<p id=wait>&#x23f3;</p>
<button id="upload">&#x1f4be;</button>
<textarea id=md></textarea>
<script src="static/open/ext.md.js"></script>
<script type="text/javascript">window.onload = ()=>load({{.P}})</script>
